body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #E5E5E5;
}

.btn-outline-primary {
    font-size: 16px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-outline-primary:hover {
    color: #56278C;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-outline-primary-contrast {
    font-size: 16px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.75);
	box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.75);
}

.btn-outline-primary-contrast:hover {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-outline-secondary {
    color: #56278C;
    background-color: white;
    border-color: #56278C;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-outline-secondary:hover {
    color: white;
    background-color: #56278C;
    border-color: #56278C;
}

.btn-outline-secondary-contrast {
    color: #000000;
    background-color: white;
    border-color: #000000;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-outline-secondary-contrast:hover {
    color: white;
    background-color: #3e3e3e;
    border-color: #3e3e3e;
}

.btn-primary {
    border: 0;
    color: #FFFFFF;
    background-color: #56278C;
    padding: 5px 25px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-primary:hover {
    border: 0;
    background-color: #56278C;
}

.btn-primary-contrast {
    border: 0;
    color: #FFFFFF;
    background-color: #3e3e3e;
    padding: 5px 25px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-primary-contrast:hover {
    border: 0;
    background-color: #3e3e3e;
    color: #FFFFFF;
}

.form-control {
    border-radius: 15px;
    height: 30px;
    color: #989898;
}

.search-item {
    margin: auto;
}

.profile-item {
    margin: auto;
}

.profile-item:hover{
    font-weight: bold;
    text-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.cart-item {
    margin: auto;
}


.profile-item:hover{
    font-weight: bold;
    text-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.accessibility-item {
    margin: auto;
}

.search {
    border-radius: 15px !important;
    padding-right: 30px;
    height: 30px;
    text-align: center;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 5px;
    bottom: 5px;
    z-index: 2;
}

.profile {
    padding: 0;
}

.profile-item-container {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.profile-icon {
    height: 38px;
    vertical-align: middle;
}

.welcome-container {
    display: block;
    justify-content: center;
}

.welcome-message {
    font-size: 16px;
    line-height: 1.2;
}

.cart-icon {
    height: 38px;
    vertical-align: middle;
}

.footer-row {
    height: 100px;
}

#footer {
    background-color: #56278C;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;            /* Footer height */
}

#content-wrap {
    padding-bottom: 100px;    /* Footer height */
}

.footer-row > div > a {
    color: #FFFFFF;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#navbar-sections {
    margin-top: 75px;
    background-color: #56278C;
}

#main-nav {
    background-color: #56278C;
}

.nav{
    margin-left: 200px;
    margin-right: 200px;
    padding: 2px;
}

.nav-link{
    color: #FFFFFF !important;
    font-size: 24px;
}

.nav > li > a:hover{
    font-weight: bold;
    text-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

ul.breadcrumb {
    background-color: #E5E5E5;
    list-style: none;
    margin-bottom: 0rem;
}
  
  /* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
  
  /* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}
  
  /* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: black;
    text-decoration: none;
}
  
  /* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: black;
    text-decoration: underline;
}

#scrollup-btn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 50px; 
    z-index: 99; 
    padding: 15px; 
    border-radius: 10px; 
    color: #FFFFFF;
    font-size: 18px; 
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background-color: #56278C;
}

#up-img{
      width: 2rem;
      height: 2rem;
}




